<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/presentation/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/presentation/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/presentation/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/presentation/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/presentation/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/presentation/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/presentation/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/presentation/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/presentation/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/presentation/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/presentation/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/presentation/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('bundles/presentation/img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/presentation/img/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>Oops !</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bundles/presentation/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/presentation/css/sidebeep-custom.css') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class ='error-page'>
    <div class="container error-container">
        <div class ="col-md-12">
            <div class ="col-md-3">
                <img height ="350" class ="pull-right" src="{{ asset('bundles/presentation/img/logo_white.png') }}">
            </div>

            <div class ="col-md-offset-1 col-md-8">
                <h1 class ='error-heading'>Error {{ code }}</h1>
                {% if code == 500 %}
                    <h4 class ='error-description'>Sorry, There was a problem serving the requested page.</h4>
                    <p class ='error-message'>Usually this mean that an unexpected error happened while processing your request.</p>
                {% else %}
                    <h4 class ='error-description'>Oops! Invalid request detected.</h4>
                    <p class ='error-message'>{{ message }} </p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>